* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 100vh;
    line-height: 1.6;
    background-color: #EBF4F6;
  }
  
    header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: #0fb1bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc9d3;
    z-index: 100;
  }

  .logo-box {
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 8px;
  }
  
  .navbar a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: 3s;
    
  }
 
  .navbar a:hover{
    border-color: #071952;

  }
 
  
  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 50px 5% 0;
    gap: 50px;
    color: #080808;
  }
  
  .home-content h1 {
    font-size: 55px;
    line-height: 1;
  }
  
  .home-content h2 {
    font-size: 36px;
  }
  
  .home-content h3 {
    font-size: 26px;
    
  }
  
  .home-image img {
    position: relative;
    width: 28vw;
    height: 28vw;
    border-radius: 40%;
    border: 2px solid #088395;
    box-shadow: 0 0 20px #088395;
    overflow: hidden;
  }
  
  .about {
    padding: 20px 50px;
    color: #080808
  }
  
  .about-content h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    
  }

  .about-content p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
  }

  .contact {
    padding: 40px 20px;
    text-align: center;
    color:black;
  }

  .contact-content h2 {
    padding: 20px 50px;
    margin-left: 36px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .social-icons-a {
    display: flex;
    justify-content: center;
    padding: 15px 0;    
  }
  
  .social-icons-a a,
  .social-icons-b a,
  .social-icons-c a {
    text-decoration: none;
    gap: 20px;
    color: #088395;
    cursor: pointer;
  }
  
  .social-icons-a img,
  .social-icons-b img,
  .social-icons-c img {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icons-a img:hover,
  .social-icons-b img:hover,
  .social-icons-c img:hover {
    transform: scale(1.1);
  }
  
  .social-icons-b,
  .social-icons-c {
    display: flex; 
    flex-direction: column;
    gap: 8px;
   
  }
  
  
  /* Media Queries */
  
  /* For phones */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .navbar {
      display: none;
      flex-direction: column;
      background: #333;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      padding: 10px 0;
      z-index: 10;
    }
  
    .navbar.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
    }
  
    .home {
      flex-direction: column;
      text-align: center;
    }
  
    .home-content h1 {
      font-size: 2.5rem;
    }
  
    .home-content  {
      font-size: 1rem;
    }
  
    .home-image {
      margin-top: 20px;
    }
  
   
  }
  
  /* For Laptops  */
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .navbar {
      padding: 10px 30px;
    }
  
    .logo-box {
      font-size: 1.2rem;
      padding: 4px 8px;
    }
  
    .navbar a {
      font-size: 0.9rem;
    }
  
    .home-content h1 {
      font-size: 2.8rem;
    }
  
    .home-content p {
      font-size: 1.1rem;
    }
  
    .home-image img {
      width: 90%;
    }
  
    .contact .social-icons img {
      width: 35px;
      height: 35px;
    }
  }
  
  /* For Large Screens */
  @media screen and (min-width: 1201px) {
    .navbar {
      padding: 10px 40px;
    }
  
    .home-content h1 {
      font-size: 3.5rem;
    }
  
    .home-content p {
      font-size: 1.3rem;
    }
  
    .home-image img {
      max-width: 80%;
    }
  }
  